body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    height: 100%;
    overflow: auto;  /* Allow scrolling */
}

html {
    height: 100%;
}

.container {
    max-width: 800px; /* Constrain text to central area */
    margin: 0 auto;
    padding: 20px;
    min-height: 100%; /* Ensure the container takes full height */
    overflow: auto;   /* Ensure it can scroll */
    padding-bottom: 20px; /* Avoid content being cut off at the bottom */
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.profile {
    text-align: center;
}

.profile-image {
    width: 225px;  /* 1.5 times the original width */
    height: auto;  /* Maintain aspect ratio */
    border-radius: 50%;
}

.research-interests, .latest-news {
    margin-bottom: 20px;
}

h1, h2 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}
